.logo {
    height: 6rem;
    margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 2s ease-in-out;
    }
}

@keyframes logo-spin {
    0% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(-25deg);
    }
}