.html_zad02 .naslov {
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--accent1-color);
}

.html_zad02 .naslov a {
    color: var(--accent2-color);
}

.html_zad02 .sadrzaj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem 2rem;
    margin-bottom: 5rem;
}

.html_zad02 .sadrzaj .tekst {
    flex-grow: 1;
    text-align: center;
    border: 2px solid var(--accent1-color);
    padding: 1.5rem 0.5rem 0 0.5rem;
}

.html_zad02 .sadrzaj .slika {
    flex-grow: 2;
}

.html_zad02 .sadrzaj .slika img {
    width: 100%;
    height: 100%;
}