.html_zad01 .naslov {
    margin-top: 2rem;
    text-align: left;
}

.html_zad01 .naslov h1 {
    font-weight: 700;
    font-size: 5rem;
    color: var(--accent1-color);
    margin-left: 2rem;
}

.html_zad01 .naslov table {
    margin-bottom: 2rem;
}

.html_zad01 .naslov tr td:first-child {
    text-align: right;
    color: var(--accent1-color);
}

.html_zad01 .naslov tr td:nth-child(2n) {
    text-align: left;
}

.html_zad01 .naslov td {
    padding-right: 1rem;
}

.html_zad01 .tekst p {
    text-indent: 15px;
    text-align: justify;
}

.html_zad01 .tekst .akcenat {
    color: var(--accent1-color);
    font-weight: 700;
}

.html_zad01 .slika {
    text-align: center;
    margin-bottom: 5rem;
}

.html_zad01 .slika img {
    max-width: 80%;
    border: 2px solid var(--accent1-color);
    padding: 10px;
}