.zadatak01 {
    text-align: left;
    background-color: inherit;
    margin-top: 2rem;
}

.zadatak01 h1 {
    font-weight: 700;
    font-size: 5rem;
    color: var(--accent-color);
    margin-left: 2rem;
}

.zadatak01 table {
    margin-bottom: 2rem;
}

.zadatak01 tr td:first-child {
    text-align: right;
    color: var(--accent-color);
}

.zadatak01 tr td:nth-child(2n) {
    text-align: left;
}

.zadatak01 td {
    padding-right: 1rem;
}

.zadatak01 p {
    text-indent: 15px;
    text-align: justify;
}

.akcenat {
    color: var(--accent-color);
    font-weight: 700;
}

.imgContainer {
    text-align: center;
    margin-bottom: 5rem;
}

.imgContainer img {
    max-width: 80%;
    border: 2px solid var(--accent-color);
    padding: 10px;
}