.zadatak04 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "slika forma"
        "futer futer";
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding-top: 1rem;
}

.zadatak04 footer {
    grid-area: futer;
    margin-top: 5rem;
    margin-bottom: 3rem;
}