:root {
	--main-background-color: #fbe86a;
	--card-background-color: #f4976c;
	--primary-text-color: #ffffff;
	--secondary-text-color: #d3fdff;
	--link-color: #303c6c;
	--accent1-color: #b4dfe5;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--main-background-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}