.App {
    min-height: 97vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

header nav {
    margin-right: auto;
}

header nav a {
    font-size: 1.2rem;
    color: var(--primary-color);
}

header nav div {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
}

header nav div:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

header .logo {
    max-width: 10rem;
    margin-right: 5rem;
}

header .logo img {
    width: 100%;
}

main {
    margin-top: 5rem;
}

main h1 {
    color: var(--accent1-color);
    margin-bottom: 2rem;
}

main a {
    list-style-type: none;
    color: var(--primary-color);
}

.assignment h1 {
    color: var(--accent1-color);
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.zadaci_fleks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 0.2rem 0.4rem;
}

.zadaci_fleks a {
    color: var(--primary-color);
}

.zadaci_fleks a:hover {
    text-decoration: none;
    background-color: var(--accent2-color);
}

.zadaci_fleks div {
    width: 16rem;
    text-align: center;
    padding: 0.8rem 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.zadaci_fleks div:hover {
    background-color: var(--accent2-color);
}

footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

footer p {
    margin: 0;
}

footer a {
    color: var(--secondary-color);
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

footer a:hover {
    color: var(--primary-color);
}