:root {
	--background-color: #202124;
	--link-color: #0072c6;
	--primary-color: #bdc1c6;
	--secondary-color: #565656;
	--accent1-color: #ff4136;
	--accent2-color: #5e8b7e;
}

/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Set default font and font size */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: var(--primary-color);
	background-color: var(--background-color);
	width: 98vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Set default link styles */
a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

/* Set default heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 1.2;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

/* Set default paragraph styles */
p {
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

/* Set default container styles */
.wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1rem;
}